.container {
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.animationOn {
    animation: showUp .3s normal;
}
.animationOff {
    animation: showOff .3s normal;
}

.mainWindow {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: 'content' 'bottom';
    width: 100%;
    height: 100%;
    user-select: none;
}

.header, .content {
    display: flex;
    width: 100%;
    height: 100%;
}
.headerButtons {
    display: flex;
    gap: 20px;
}

.label {
    font-weight: bold;
    color: var(--default-font);
}

.closeButton {
    font-size: 1.5em;
}
.closeButton:hover {
    cursor: pointer;
    color: var(--highligth-font-color);
}

.content {
    grid-area: content;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(50px);
}

.windowContent{
    position: absolute;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 'windowHeader' 'windowContent';
    width: 95%;
    height: 90%;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}
.header {
    grid-area: windowHeader;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
    background-color: var(--background-highlith-color);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
}
.windowLocal {
    overflow-y: auto;
    padding: 1%;
}

.bottom {
    grid-area: bottom;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
}

.bottomBtn {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    border: none;
    font-size: 1.5em;
    color: var(--default-font);
    background-color: var(--background-highlith-color);
    transition: .2s;
}

.bottomBtn:active {
    background-color: var(--highligth-font-color);
}

@media screen and (min-width: 900px) {
    .container {
        background-color: transparent;
        backdrop-filter: blur(10px);
    }
    .header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .window {
        width: 100%;
        height: 100%;
        border: 1px solid var(--background-highlith-color);
    }
    .windowContent{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 90%;
        grid-template-areas: 'windowHeader' 'windowContent';
        width: auto;
        height: auto;
        /* width: 80%;
        height: 80%; */
        background-color: var(--background-color);
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    }
    .header {
        grid-area: windowHeader;
        align-items: center;
        justify-content: space-between;
        padding: 1% 5%;
        background-color: var(--background-highlith-color);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    }
    .windowLocal {
        overflow-y: auto;
        padding: 1%;
    }
    .bottomBtn:hover {
        cursor: pointer;
        background-color: var(--background-color);
    }
}

/* Animations */
@keyframes showUp {
    0% {
        transform: translateY(100%);
        position: absolute;
        width: 20%;
        left: 40%;
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes showOff {
    0% {
        position: absolute;
        transform: translateY(0);
    }
    99% {
        transform: translateY(100%);
        width: 10%;
        left: 50%;
    }
    100% {
        display: none !important;
    }
}