.container {
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.window {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 'header' 'content';
    width: 100%;
    height: 100%;
    animation: showUp 1s normal;
}

.header, .content {
    display: flex;
    width: 100%;
    height: 100%;
}

.header {
    grid-area: header;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5%;
    background-color: var(--background-highlith-color);
}

.label {
    font-weight: bold;
    color: var(--default-font);
}

.closeButton {
    font-size: 1.5em;
}
.closeButton:hover {
    cursor: pointer;
    color: var(--highligth-font-color);
}

.content {
    grid-area: content;
    flex-direction: column;
    padding: 1%;
    background-color: var(--background-color);
    overflow-y: scroll;
}

@media screen and (min-width: 900px) {
    .container {
        background-color: transparent;
        backdrop-filter: blur(10px);
    }
    .header {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .window {
        width: 85%;
        height: 95%;
        border: 1px solid var(--background-highlith-color);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

/* Animations */
@keyframes showUp {
    0% {
        position: absolute;
        width: 10%;
        height: 0;
        bottom: 0;
        transform: scale(.5);
    }
    100% {
        position: absolute;
        bottom: 2.5%;
    }
}
