.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.aboutText p {
    margin: 2% 0;
}

/* Lista */
.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 50px 0;
}
.list h3 {
    width: 100%;
    text-align: left;
    color: gold;
    font-size: 1.2em;
}
.list ul {
    width: 100%;
    list-style: none;
}
.cursando, .list a {
    color: gray;
    text-decoration: none;
}

/* Habilidades */
.skillContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

/* Projects */
.projectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 450px;
}

@media screen and (min-width: 900px) {
    .list h3 {
        width: 70%;
    }
    .list ul {
        width: 70%;
    }
    .skills {
        width: 80%;
    }
    .projects {
        height: 400px;
    }
}