.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 'title' 'image';
    width: 45%;
    padding: 1%;
    margin: 1%;
    border: 1px solid transparent;
    transition: 1s;
}

.title {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1%;
}

.title i {
    color: transparent;
    transition: 1s;
}

.image {
    grid-area: image;
    margin: auto;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    border-top-right-radius: 50px;
    transition: 1s;
}

.container:hover {
    cursor: pointer;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 5px;
    transition: .5s;
    
}
.container:hover > .title i {
    color: gold;
    transition: .5s;
}
.container:hover > .title {
    color: gold;
    transition: .5s;
}
.container:hover > .image {
    border-radius: 2px;
    transition: .5s;
}