.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1% 3%;
    background-color: var(--background-highlith-color);
    color: var(--default-font);
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    font-size: 1.3em;
    margin-right: 10%;
}

.subtitle {
    font-size: 1em;
    color: var(--default-font);
    font-style: italic;
    opacity: .3;
}

.buttonsMobile{
    display: flex;
    margin-right: 5%;
}
.buttonsMobile:hover {
    cursor: pointer;
}
.floatButtonsMobile {
    position: absolute;
    top: 0; left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    height: 10%;
    padding: 0 3%;
    background-color: var(--background-highlith-color);
}

.buttonsDesktop {
    display: none;
}

.linksContainer {
    display: flex;
    flex-direction: column;
}
.externalLink {
    color: var(--default-font);
    text-decoration: none;
    font-style: normal;
    margin: 1%;
}

.hide {
    display: none;
}

@media screen and (min-width: 900px) {
    .buttonsMobile, .floatButtonsMobile {
        display: none;
    }
    .buttonsDesktop {
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
}