.container {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 100%;
    grid-template-areas: 'left content right';
    width: 100%;
}

.leftButton, .rightButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}
.leftButton:hover, .rightButton:hover {
    cursor: pointer;
    color: gold;
    transition: .5s;
}

.leftButton {
    grid-area: left;
}
.content {
    grid-area: content;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.rightButton {
    grid-area: right;
}