.container {
    width: 100px;
    height: 100px;
}

.container, .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    justify-content: space-around !important;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: 1s;
}
.card p {
    padding: 0px;
    margin: 0px;
}
.card img {
    width: 40%;
    transition: 1s;
}
.skillIcon {
    font-size: 1.5em;
    transition: .2s;
}

.card:hover {
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    transition: .5s;
    border-radius: 50%;
}
.card:hover > img {
    width: 50%;
    transition: .5s;
}
.card:hover > .skillIcon {
    font-size: 3em;
    transition: .1s;
}

@media screen and (min-width: 900px) {
    .container {
        width: 180px;
        height: 180px;
    }
    .card {
        width: 80%;
        height: 80%;
        padding: 10px;
    }
    .card img {
        width: 30%;
        transition: 1s;
    }
    .card:hover > img {
        width: 50%;
        transition: .5s;
    }
}