@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

* {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.03em;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.AppSection {
  background-color: #010D00;
}